

    <div class="form_container">  
        <form name="admin_form"  id= "admin_form">
        <h3>Add Jobs</h3>
        <!-- <h4>Contact us today, and get reply with in 24 hours!</h4> -->
        <fieldset>
            <input placeholder="Job Title" id="formTitle" name="formTitle" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Close date" id="closeDate" name="closeDate" type="date" tabindex="2" required>
        </fieldset>
      
        <fieldset>
            <input placeholder="Location" id="theLocation" name="theLocation" type="text" tabindex="4" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Job description"  id="jobDescription" name="jobDescription" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
            <button class="bg-success" type="submit">Submit</button>
        </fieldset>
        </form>
    
        
    </div>

